
/* Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

/* Tawilind Import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white;
  }

  /* Remove number spin buttons */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Autofill background*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: #E558F4;
      /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
      background-color: #000;
      transition: background-color 5000s ease-in-out 0s;
    }

  /* Font imports */
  @font-face {
    font-family: Andaleo Mono;
    src: url("./assets/fonts/Andaleo Mono.woff") format("woff");
  }

  @font-face {
    font-family: Proxima Nova;
    src: url("./assets/fonts/Proxima Nova.woff") format("woff");

  }

  @font-face {
    font-family: StretchPro;
    font-weight: 400;
    src: url("./assets/fonts/Stretch Pro.woff") format("woff");
  }
}

/* making firebase emulator warning less intrusive */
.firebase-emulator-warning {
  background-color: transparent !important;
  border: none !important;
  color: rgba(245, 66, 66, 0.3) !important;
}